*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java-udp/udp-example-01/target/
/java-udp/udp-example-02/target/
/java-udp/udp-example-03/target/
/java-patterns/target/