*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/config-service/target/
/discovery-service/target/
/user-service/target/
/hystrix-dashboard/target/
/caatalog-service/target/
/catalog-service/target/
/account-service/target/
/inventory-service/target/
/cart-service/target/
/order-service/target/
/payment-service/target/